# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# ---- Jupyter Notebook ----
.ipynb_checkpoints/

# ---- Urejevalniki kode ----
.vscode/
.idea/

# ---- Operacijski sistem ----
.DS_Store
Thumbs.db